<template>
  <div class="container">
    <header>
      <h1>Auto Increment Number</h1>
      <h2>Enter Number And Step To Increment</h2>
    </header>
    <main>
      <div class="start_end">
        <div class="start">
          <label for="start">Start</label>
          <input
            type="number"
            name="start"
            id="start"
            :max="minNum"
            placeholder="1"
            v-model="start"
            v-once
          />
        </div>
        <div class="end">
          <label for="end">End</label>
          <input
            type="number"
            name="end"
            id="end"
            v-model="end"
            :max="maxNum"
            placeholder="100"
          />
        </div>
      </div>
      <div class="step">
        <label for="step">Step</label>
        <input
          type="number"
          name="step"
          id="step"
          v-model="step"
          :max="maxNum"
          placeholder="1"
        />
      </div>
      <button @click="compute()">Increment</button>
      <div class="result">
        <h3>{{ result }}</h3>
      </div>
    </main>
  </div>
</template>
<script>
export default {
  data() {
    return {
      start: "",
      end: "",
      step: "",
      result: "",
      minNum: Number.MIN_SAFE_INTEGER,
      maxNum: Number.MAX_SAFE_INTEGER,
    };
  },

  methods: {
    compute() {
      for (let i = 0; i < parseFloat(this.end); i++) {
        if (
          parseFloat(this.end) >= this.result &&
          parseFloat(this.start) !== parseFloat(this.end) &&
          parseFloat(this.end) >= parseFloat(this.step)
        ) {
          return (this.result = this.start =
            parseFloat(this.start) + parseFloat(this.step));
        } else {
          return (this.result = "No Increment");
        }
      }
    },
  },
};
</script>
<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
header,
main {
  width: 50%;
  height: 100px;
  background: blueviolet;
  text-align: center;
  color: aliceblue;
  margin: 2% 0 0 25%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgb(255, 95, 95);
  font-family: "Pattaya", sans-serif;
}
main {
  height: auto;
  background: rgb(132, 1, 255);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-family: "Roboto Slab", serif;
}
.start_end {
  display: flex;
  justify-content: space-between;
}
input,
button {
  width: 200px;
  height: 50px;
  margin: 2% 0% 2% 1%;
  appearance: none;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 0 0 0 10px;
  outline: none;
  border: none;
  transition: all 0.2s;
}
button {
  background: palevioletred;
  color: beige;
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
  transition: all 0.5s linear;
}
button:hover {
  box-shadow: inset 1px 1px 10px black;
}
input:focus {
  border: 4px solid blue;
}
details {
  transition: all 0.2s;
}
li {
  list-style: none;
  width: 50%;
  height: 30px;
  background: darkblue;
  box-shadow: 2px 2px 2px rebeccapurple;
  border-radius: 20px;
  margin: 0 0 2% 25%;
  color: beige;
  transition: all 0.2s;
}
h3 {
  font-family: "Goblin One", cursive;
}
@media screen and (max-width: 965px) {
  header,
  main {
    width: 70%;
    /* height: 100px; */
    margin: 2% 0 0 15%;
  }
}
@media screen and (max-width: 630px) {
  main {
    margin-top: 10%;
    font-size: 1rem;
  }
  header {
    margin-top: 20%;
    font-size: 90%;
    height: 150px;
  }
  .start_end {
    display: block;
    /* justify-content: space-between; */
  }
}
</style>
